%h1 All Questions

%table#questions
  %thead
    %tr
      %th Subject
      %th Source
      %th Professor
      %th Mini
      %th Dates
      %th PDF
  %tbody
    - @questions.each do |question|
      %tr
        %td= question.subject.name
        %td= question.source.source
        %td= question.professor.name
        %td= question.mini
        %td
          - question.sittings.each do | sitting |
            = sitting.year
            
        %td
          = link_to("Download",question.pdf.url)

= link_to "Add new question", new_question_path
= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" 