.center-block
  %h1 All Questions
  
  = search_form_for @q do |f|
    = f.label :mini
    = f.text_field :mini_cont
    
    = f.submit
  
  %table.table.table-condensed.table-responsive#questions
    %thead
      %tr
        %th= sortable "subj", "Subject"
        %th Source
        %th= sortable "prof", "Professor"
        %th Mini
        %th
          %span{title: "Dates Asked"}= sortable "last_date", "Date"
        %th
          %span{title: "Average Overall Rating"}= sortable "overall", "Over"
        %th
          %span{title: "Average Difficulty Rating"}= sortable "difficulty", "Diff"
        %th
          %span{title: "Average Uniqueness Rating"}= sortable "uniqueness", "Uniq"
        %th 
          %span{title: "Number of Answers Uploaded"} # Answers
        %th
          %span{title: "Finished?"} Fin?
        %th Tags
        %th Q. PDF
        %th More 
    %tbody
      - @questions.each do |question|
        %tr
          %td= question.subject.name
          %td= question.source.source
          %td= question.professor.name
          %td= question.mini
          %td
            - question.sittings.each do | sitting |
              = sitting.print_sitting
              %br
          %td= question.overall
          %td= question.difficulty
          %td= question.uniqueness
          %td= question.total_answers
          %td= question.finished?(current_user)
          %td
            - question.tags.each do |tag|
              = tag.tag
              %br
          %td
            = link_to("Down",question.pdf.url)
          %td= link_to "More", question_path(question)

  = link_to "Add new question", new_question_path