.center.hero-unit
  %h1 All Questions

  %table.table.table-condensed#questions
    %thead
      %tr
        %th= link_to 'Subject', questions_path(:sort => 'subject')
        %th Source
        %th Professor
        %th Mini
        %th Dates
        %th= link_to 'Overall Rating', questions_path(:sort => 'overall')
        %th Difficulty Rating
        %th Uniqueness Rating
        %th # Answers
        %th Question PDF
        %th More Info
    %tbody
      - @questions.each do |question|
        %tr
          %td= question.subject.name
          %td= question.source.source
          %td= question.professor.name
          %td= question.mini
          %td
            - question.sittings.each do | sitting |
              = sitting.print_sitting
          %td= question.overall
          %td= question.difficulty
          %td= question.uniqueness
          %td= question.total_answers
          %td
            = link_to("Download",question.pdf.url)
          %td= link_to "More info", question_path(question)

  = link_to "Add new question", new_question_path
  = link_to "Sign up now!", signup_path