.center.hero-unit
  %h1 All Questions
  %h3= @temp
  %table.table.table-condensed#questions
    %thead
      %tr
        %th= sortable "subj", "Subject"
        %th Source
        %th= sortable "prof", "Professor"
        %th Mini
        %th= sortable "last_date", "Date"
        %th= sortable "overall", "Over"
        %th= sortable "uniqueness", "Diff"
        %th= sortable "uniqueness", "Uniq"
        %th # Answers
        %th Finished
        %th Question PDF
        %th More Info
    %tbody
      - @questions.each do |question|
        %tr
          %td= question.subject.name
          %td= question.source.source
          %td= question.professor.name
          %td= question.mini
          %td
            - question.sittings.each do | sitting |
              = sitting.print_sitting
          %td= question.overall
          %td= question.difficulty
          %td= question.uniqueness
          %td= question.total_answers
          %td= question.finished?(current_user)
          %td
            = link_to("Download",question.pdf.url)
          %td= link_to "More info", question_path(question)

  = link_to "Add new question", new_question_path
  = link_to "Sign up now!", signup_path