.center-block
  %h1 All Questions

  = search_form_for( @search, url: search_questions_path, method: :post) do |f|
    = f.condition_fields do |c|
      = render 'condition_fields', f: c
    %p= link_to_add_fields "Add Conditions", f, :condition
    .field
      Sort:
      = f.sort_fields do |s|
        = s.sort_select associations: [:sittings, :tags]
    = f.submit "Search"

  %table.table.table-condensed.table-responsive#questions
    %thead
      %tr
        %th Subject
        %th Source
        %th Professor
        %th Mini
        %th
          %span{title: "Dates Asked"} Date
        %th
          %span{title: "Average Overall Rating"} Over
        %th
          %span{title: "Average Difficulty Rating"} Diff
        %th
          %span{title: "Average Uniqueness Rating"} Uniq
        %th
          %span{title: "Number of Answers Uploaded"} # Answers
        %th
          %span{title: "Finished?"} Fin?
        %th Tags
        %th Q. PDF
        %th More
    %tbody
      - @questions.each do |question|
        %tr
          %td= question.subject.name
          %td= question.source.source
          %td= question.professor.name
          %td= question.mini
          %td
            - question.sittings.each do | sitting |
              = sitting.sort_sitting
              %br
          %td= question.overall
          %td= question.difficulty
          %td= question.uniqueness
          %td= question.total_answers
          - if question.finished_questions.where(user_id: current_user.id).size != 0
            %td Y
          - else
            %td
          %td
            - question.tags.each do |tag|
              = tag.tag
              %br
          %td
            = link_to("Down",question.pdf.url)
          %td= link_to "More", question_path(question)

  = link_to "Add new question", new_question_path
