%h1 Create New Question

= form_tag questions_path, :html => { :multipart => true } do
  = label :question, :subject, "Subject:"
  = collection_select :question, :subject_id, Subject.all, :id, :name, include_blank: true

  = label :question, :source, "Source:"
  = collection_select :question, :source_id, Source.all, :id, :source, include_blank: true

  = label :question, :year, "Year:"
  = select :question, :year, (1990...2013)

  = label :question, :professor, "Professor:"
  = collection_select :question, :professor_id, Professor.all, :id, :name, include_blank: true

  = label :question, :number, "Number:"
  = text_field :question, :number 

  = label :question, :term, "Term:"
  = collection_select :question, :term_id, Term.all, :id, :term, include_blank: true

  = label :question, :mini, "Mini:"
  = number_field :question, :mini

  = label :question, :file, "File:"
  = file_field :question, :pdf


  = submit_tag 'Save Changes'