.container-fluid.row-fluid
  .span4
    = render 'finished_questions/form'
    = link_to 'Edit Question', edit_question_path(@question)
    = link_to("Download PDF",@question.pdf.url)
  .span4
    %h5 Dates Asked
    - @question.sittings.each do | sitting |
      = sitting.print_sitting
      ,
    = link_to 'Add Date', new_question_sitting_path(@question)
  .span4
    %h5 Tags
    - @question.tags.each do | tag |
      = tag.tag
      ,
    = render 'questiontags/form'

.container-fluid.row-fluid.span12
  %h3.text-center Question Ratings
= render 'question_ratings/table'
.container-fluid.row-fluid.span12
  = render 'question_ratings/form'

.container-fluid.row-fluid.span12
  %h3.text-center Answers

%table.table.table-bordered
  %thead
    %tr
      %th Overall
      %th Clarity
      %th Detail
      %th Correctness
      %th Answer PDF
      %th User Name
      %th Review Answer
  %tbody
    - @question.answers.each do |answer|
      %tr
        %td= answer.overall
        %td= answer.clarity
        %td= answer.detail
        %td= answer.correctness
        %td= link_to("Download",answer.pdf.url)
        %td= answer.user.name
        %td= link_to 'More info', question_answer_path(:id => answer.id, :question_id => answer.question.id)
= form_for([@question, @question.answers.build]) do |f|
  = f.label  :file
  = f.file_field  :pdf
  = f.submit "Add Answer"
