= form_for([@question,@question_rating], html: {class: "form-inline"}) do |f|
  .row
    = f.label :overall
    =  f.collection_select :overall, RatingOption.all, :value, :label, include_blank: true

    = f.label :uniqueness
    =  f.collection_select :uniqueness, RatingOption.all, :value, :label, include_blank: true

    = f.label :difficulty
    =  f.collection_select :difficulty, RatingOption.all, :value, :label, include_blank: true
  .row
    = f.label :comment
    = f.text_field :comment

    = f.hidden_field :question_id, :value => params[:id]

    = f.submit
