.hero-unit
  %h3 User Details
  - @subjects.each do |subject |
    %table.table.table-bordered
      %thead
        %tr 
          %th
          %th{colspan: "16"}= subject.name
        %tr
          %th
          %th{colspan: "8"} Fall
          %th{colspan: "8"} Spring
        %tr
          %th
          - 2.times do
            %th{colspan: "2"} 1st Mini
            %th{colspan: "2"} 2nd Mini
            %th{colspan: "2"} 3rd Mini
            %th{colspan: "2"} 4th Mini
        %tr
          %th Year
          - 2.times do
            %th 1-1
            %th 1-2
            %th 2-1 
            %th 2-2
            %th 3-1 
            %th 3-2
            %th 4-1 
            %th 4-2
      %tbody
        - @years.each do |yr|
          %tr
            %td= yr
            - ["Fall", "Spring"].each do |term|
              - (1..4).each do |first|
                - (1..2).each do |second|
                  %td= Question.fill_cell(yr,term,"#{first}-#{second}",current_user.id,subject.id) 