.center-block
  %h3 User Details
  %table.table.table-bordered
    %thead
      %tr 
        %th
        %th{colspan: "16"} Micro
      %tr
        %th
        %th{colspan: "8"} Fall
        %th{colspan: "8"} Spring
      %tr
        %th
        - 2.times do
          %th{colspan: "2"} 1st Mini
          %th{colspan: "2"} 2nd Mini
          %th{colspan: "2"} 3rd Mini
          %th{colspan: "2"} 4th Mini
      %tr
        %th Year
        - 2.times do
          %th 1-1
          %th 1-2
          %th 2-1 
          %th 2-2
          %th 3-1 
          %th 3-2
          %th 4-1 
          %th 4-2
    %tbody
      - 2013.downto(2000) do |yr|
        %tr
          %td= yr
          - ["Fall", "Spring"].each do |term|
            - (1..4).each do |first|
              - (1..2).each do |second|
                %td= Question.fill_cell(yr,term,"#{first}-#{second}",current_user.id,1) 
                
                
                
  %table.table.table-bordered
    %thead
      %tr 
        %th
        %th{colspan: "16"} Macro
      %tr
        %th
        %th{colspan: "8"} Fall
        %th{colspan: "8"} Spring
      %tr
        %th
        - 2.times do
          %th{colspan: "2"} 1st Mini
          %th{colspan: "2"} 2nd Mini
          %th{colspan: "2"} 3rd Mini
          %th{colspan: "2"} 4th Mini
      %tr
        %th Year
        - 2.times do
          %th 1-1
          %th 1-2
          %th 2-1 
          %th 2-2
          %th 3-1 
          %th 3-2
          %th 4-1 
          %th 4-2
    %tbody
      - 2013.downto(2009) do |yr|
        %tr
          %td= yr
          - ["Fall", "Spring"].each do |term|
            - (1..4).each do |first|
              - (1..2).each do |second|
                %td= Question.fill_cell(yr,term,"#{first}-#{second}",current_user.id,2) 
                
                
  %table.table.table-bordered
    %thead
      %tr 
        %th
        %th{colspan: "20"} Before 2008 Macro Prelims had Short Questions and Long Questions
      %tr
        %th
        %th{colspan: "10"} Fall
        %th{colspan: "10"} Spring
      %tr
        %th Year
        - 2.times do
          %th 1-1
          %th 1-2
          %th 1-3 
          %th 1-4
          %th 1-5 
          %th 2-1
          %th 2-2
          %th 2-3 
          %th 2-4
          %th 2-5
    %tbody
      - 2008.downto(2000) do |yr|
        %tr
          %td= yr
          - ["Fall", "Spring"].each do |term|
            - (1..2).each do |first|
              - (1..5).each do |second|
                %td= Question.fill_cell(yr,term,"#{first}-#{second}",current_user.id,2)                