- fields_for "question[sitting_attributes]", @sitting do |builder|  
  .field
    = builder.label :year
    = builder.select :year, (1990...2013)
  .field
    = builder.label  :term
    = builder.collection_select :term_id, Term.all, :id, :term, include_blank: true
  .field
    = builder.label  :number
    = builder.text_field  :number 
