<!DOCTYPE html>
<html>
<head>
  <title>Prelims</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
<% if signed_in? %>
  <li><%= link_to "Profile", current_user %></li>
  <li><%= link_to "Settings", edit_user_path(current_user) %></li>
  <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
<% else %>
  <li><%= link_to "Sign in", signin_path %></li>
<% end %>
<%= yield %>
<%= debug(params) if Rails.env.development? %>

</body>
</html>
